<app-popup></app-popup>

    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th>ID</th>
            <th>Client Name</th>
            <th>Project Name</th>
            <th>Request Type</th>
            <th>Supplier Name</th>
            <th>TOT Amount</th>
            <th>Down Payment</th>
            <th>Date Paid</th>
            <th>Balance</th>
            <th>Bal Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let budget of budgetList " class="table-success">

            <td>{{budget.id}}</td>
            <td>{{budget.client}}</td>
            <td>{{budget.projectName}}</td>
            <td>{{budget.scopeOfWork}}</td>
            <td>{{budget.supplier}}</td>
            <td>{{budget.amount}}</td>
            <td>{{budget.downPayment}}</td>
            <td>{{budget.date}}</td>
            <td>{{budget.balance}}</td>
            <td>{{budget.status}}</td>
            <td>
              <a class="btn btn-primary" (click)="onEdit(budget.id)">Edit</a>
              <a class="btn btn-danger mb-left=2px" (click)="onDelete(budget.id)" >Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
