<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <app-alert #alertComponent></app-alert>
        <h2>{{depositType}} Account</h2><br/>
        <form [formGroup]="withdrawDepositAccountForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="acctId">Account</label>
                <select name="acctId" formControlName="acctId" id="acctId" class="form-control">
                    <option *ngFor="let account of accounts" [value]="account.id">
                        {{account.acctNumber + '(' + account.name + ')'}}</option>
                  </select>
                <p
                *ngIf="!getAcctId()?.valid && 
                getAcctId()?.touched"
                class="text-danger">Please enter a valid Account Type</p>
            </div>
            <div class="form-group">
                <label for="balance">Amount</label>
                <input
                type="number" 
                step="any"
                min="1" 
                id="balance"
                formControlName="balance"
                class="form-control"/>
                <p
                *ngIf="!getAmount()?.valid && 
                getAmount()?.touched"
                class="text-danger">Please enter a valid Amount</p>
            </div>
            <button class="btn btn-primary" type="submit" 
        [disabled]="!withdrawDepositAccountForm.valid">Submit</button>
        </form>
    </div>
</div>