<div class="row">
  <div class="col-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <app-alert #alertComponent></app-alert>
    <h2>Find Account</h2><br />
    <form [formGroup]="specificAccountForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="acctNumber">Account Number</label>
        <input type="text" id="acctNumber" formControlName="acctNumber" class="form-control" />
        <p *ngIf="!specificAccountForm.get('accNumber')?.valid && 
                specificAccountForm.get('accNumber')?.touched" class="text-danger">Please enter a valid Account Number
        </p>

        <div class="col-12" *ngIf="hasResult">
          <div class="form-group">
            <label for="accName">Account Name</label>
            <input type="text" id="accName" formControlName="accName" class="form-control">
          </div>
        </div>


        <div class="col-12" *ngIf="hasResult">
          <div class="form-group">
            <label for="accBal">Account Balance</label>
            <input type="text" id="accBal" formControlName="accBal" class="form-control">
          </div>
        </div>



        <div class="col-12" *ngIf="hasResult">
          <div class="form-group">
            <label for="accType">Account Type</label>
            <input type="text" id="accType" formControlName="accType" class="form-control">
          </div>
        </div>
      </div>



      <button class="btn btn-primary" *ngIf="!hasResult" type="submit" [disabled]="!specificAccountForm.valid">Submit</button>
      <button class="btn btn-primary" *ngIf="hasResult" type="button" (click)="clearField()" [disabled]="!hasResult">New Search</button>
    </form>
  </div>
</div>