<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <app-alert #alertComponent></app-alert>
        <h2>Edit Account</h2><br/>
        <form [formGroup]="editAccountForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Account Name</label>
                <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"/>
                <p
                *ngIf="!editAccountForm.get('name')?.valid && 
                editAccountForm.get('name')?.touched"
                class="text-danger">Please enter a valid Account Name</p>
            </div>
            <div class="form-group">
                <label >Account Type</label><br>
                <p>{{account?.type}}</p>
            </div>
            <div class="form-group">
                <label >Account Number</label><br>
                <p>{{account?.acctNumber}}</p>
            </div>
            <button class="btn btn-primary" type="submit" 
            [disabled]="!editAccountForm.valid">Submit</button>
        </form>
    </div>
</div>